body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(217, 205, 247);
}

.container {
  padding-top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.sofa-gif {
  display: none;
  width: 600px;
}

.button-360 {
  background-color: transparent;
  border: 0 solid transparent;
  cursor: pointer;
  margin-right: 65px;
}

.icon-close {
  display: none;
}

.content {
  margin-left: 25px;
}

#code {
  color: #271a45;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
}

#title {
  color: #271a45;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
}

strong {
  opacity: 0.67;
  color: #271a45;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

#addBasket {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background-color: rgb(217, 205, 247);
  width: 168px;
  height: 32px;
  margin-top: 25px;
  border: 0.5px solid #271a45;
  border-radius: 999px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #271a45;
}

#addBasket:hover {
  opacity: 0.5;
  transition: 0.8s;
  cursor: pointer;
}